<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <add key="Username" value="phongketoan" />
        <add key="Password" value="phongketoan" />
        <add key="Sync" value="true" />
    </appSettings>
</configuration>